body {
    background: black;
    color: darkorange;
}

/*
. is selector for class
a.b is element a with class b
# is selector for id
*/
.container{
    height: 100%;
}

.nav.dropdown.dropdown-toggle {
    color: lightskyblue;
}
/*#dropdown-menu{*/
    /*background: black;*/
    /*color: white;*/
/*}*/

.btn, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #080909 !important;
    color: darkorange !important;
}

#main{
    /*background: gold;*/
    /*align-content: stretch;*/
}

#login{
    /*background: lime;*/
    text-align: center;
    margin: 0 auto;
    width: auto;
    align-content: stretch;
}

#navigation{
    /*background: springgreen;*/
    text-align: center;
}

#rulesParagraph{
    /*background: yellow;*/
    text-align: left;
}

#footer{
    /*background: cyan;*/
    text-align: center;
}

#phaserGameDom {
    /*text-align: center;*/
    /*width: 75%;*/
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*keep width same as in game*/
    width: 200px;
}

.dropdown-menu{
    background: black;
    color: white;
}

.dropdown-menu > li > a{
    background: black;
    color: #23527c;
}

h1 {
    text-align: center;
}

h6 {
    background: red;
    text-align: center;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none
}